body{
  background-color: #3598DC;
}
.login{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.signup{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}
.btn-link{
  color:black;
}
.btn3{
  background-color: transparent;
  /* color: transparent; */
  border: none;
}